<h2>Test <%= @test.title %></h2>

<i>Questions:</i>
<ol>
  <% @test.questions.pluck(:body).each do |question| %>
      <li><%= question %></li>
   <% end %>
</ol>

<p><%= link_to 'Back', test_path(@test) %></p>
